html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    font-family: 'Roboto', sans-serif;
    color: #333;
}

body{
    width: 100%;
    height: 2697px;
}

#home {
    width: 100%;
}

.top {
    width: 100%;
}

.dogs{
    width: 100%;
    margin-top: -20%;
}

#home p {
    font-weight: bold;
    position: absolute;
}

.t1 {
    margin-top: -20%;
    margin-left: 70%;
    font-size: 30px;
}

.t2 {
    text-align: center;
    margin-left: 5%;
    font-size: 25px;
}
.btn{
    width: 30%;
    margin-top: 3%;
    margin-left: 35%;
    border: none; 
    cursor: pointer;
}

.btn img {
    width: 100%;
}

.line {
    width: 80%;
    margin-left: 10%;
}

#sec{
    width: 100%;
    text-align: center;
}

#sec h1{
    margin-top: 5%;
    font-size: 30px;
    font-weight: bolder;
}

.works {
    margin-top: 5%;
}

.works img{
    margin: 2%;
}

.btn-2{
    width: 30%;
    margin-top: 5%;
    border: none;
}

.btn-2 img {
    width: 100%;
}

.line-2 {
    width: 80%;
}

.friend {
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

.friendp {
    margin-top: 5%;
    font-size: 60px;
}

.friendimg{
    margin-top: 5%;
    width: 100%;
}

.foot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    margin-top: 10%;
    background-color: #FFCA18;
}

.foot1 {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
}

.titu {
    font-size: 28px;
    font-family: bold;
    width: 50%;
}

.text {
    font-size: 23px;
    width: 50%;
}

.foot2 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.end {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width: 415px) {
    .t1 {
        margin-top: -25%;
        margin-left: 39%;
        font-size: 24px;
    }

    .dogs{
        height: 250px;
        margin-top: -20%;
    }
    
    .t2 {
        font-size: 18px;
    }

    .btn{
        width: 70%;
        margin-top: 16%;
        margin-left: 15%;
    }

    #sec h1{
        font-size: 26px;
    }

    .btn-2{
        width: 70%;
    }
    .friend {
        width: 70%;
        margin-left: 15%;
    }
    
    .friendp {
        margin-top: 5%;
        font-size: 30px;
    }
    
    .friendimg{
        margin-top: 5%;
    }
    .foot1 {
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 10%;
    }
    
    .titu {
        font-size: 20px;
        font-family: bold;
        width: 80%;
    }
    
    .text {
        font-size: 18px;
        width: 80%;
    }
    
    .foot2 {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 100%;
    }
    
    .end {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        margin-left: 10%;
    }
    
}

